@{
    ViewBag.Title = "Add a Movie";
}

@model Movie

<form asp-action="AddMovie" method="post">
    <label asp-for="Category">*Category: </label>
    <input type="text" asp-for="Category" />
    <br /><br />
    <label asp-for="Title">*Title: </label>
    <input type="text" asp-for="Title" />
    <br /><br />
    <label asp-for="Year">*Year: </label>
    <input type="text" asp-for="Year" />
    <br /><br />
    <label asp-for="Director">*Director: </label>
    <input type="text" asp-for="Director" />
    <br /><br />
    <label asp-for="Rating">Rating: </label>
    <select asp-for="Rating">
        <option value=""></option>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br /><br />
    <label asp-for="Edited">Edited: </label>
    Yes @Html.RadioButtonFor(x => x.Edited, true)
    No @Html.RadioButtonFor(x => x.Edited, false)
    <br />
    <textarea rows="3" cols="35" placeholder="Notes" asp-for="Notes"></textarea>
    <div asp-validation-summary="All"></div>
    <button type="submit">Submit Movie</button>
</form>